/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main styles */
body {
    background-color: #6a7b86;
    background-image: url('images/marketplace-header.png');
    background-repeat: repeat-x;
    color: #424f5a;
    font-family: 'Open Sans Light',"Lucida Sans","Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
}

a {
    color: #3b9bda;
    text-decoration: none;
}

#tabzilla {
    outline: none;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

header, footer {
    clear: both;
    float: left;
    width: 100%;
}

header {
    margin-bottom: 50px;
}

header div, footer div {
    padding: 20px;
}

nav {
    float: left;
    padding: 10px 10px 10px 0px;
    width: 240px;
}

nav > ul > li {
    margin-bottom: 2px;
}

nav > ul > li > a {
    background-color: #eee;
    color: #111;
    display: block;
    font-size: 18px;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
}

nav > ul > li > ol > li {
    background-color: #fff;
}

nav > ul > li > ol > li a {
    display: block;
    padding: 5px 8px 5px 18px;
}

section {
    background-color: rgb(220, 225, 227);
    background-image: url('images/wallpaper.png');
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
        0px 2px 1px 0px rgba(0, 0, 0, 0.1),
        0px 0px 0px 1px rgba(0, 0, 0, 0.05),
        0px 0px 12px 0px rgba(0, 0, 0, 0.05),
        0px 0px 12px 0px rgba(0, 0, 0, 0.05) inset;
    clear: both;
    float: left;
}

article {
    padding: 24px;
    float: left;
    position: relative;
    width: 662px;
}

h1 {
    color: rgb(66, 79, 90);
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -1.5px;
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.browser-support {
    background-color: #eee;
    display: block;
    width: 100%;
}

.browser-support li {
    float: left;
    margin-right: 10px;
}
