<h2>Browser Support</h2>
<ol class="browser-support">
  <li>
    <img src="../{{ article.root }}images/browser-firefox.png">
    <span>Firefox 5+</span>
  </li>
  <li>
    <img src="../{{ article.root }}images/browser-chrome.png">
    <span>Chrome 4+</span>
  </li>
  <li>
    <img src="../{{ article.root }}images/browser-safari.png">
    <span>Safari 4+</span>
  </li>
  <li>
    <img src="../{{ article.root }}images/browser-ie.png">
    <span>Internet Explorer 9+</span>
  </li>
  <li>
    <img src="../{{ article.root }}images/browser-opera.png">
    <span>Opera 11+</span>
  </li>
</ol>