<!DOCTYPE html>
<html>
  <head>
    <title>Mozilla: App Design Guidelines</title>
    <meta content="chrome=1" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://www.mozilla.org/tabzilla/media/css/tabzilla.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext,greek-ext,cyrillic-ext,vietnamese,cyrillic,greek">
    <link rel="stylesheet" href="{{ article.root }}main.css">
  </head>
  <body>
    <div class="wrapper">
      <header id="masthead">
        <a href="http://www.mozilla.org" id="tabzilla">Mozilla</a>
      </header>
