<nav>
  <ul>
    <li>
      <a href="{{ article.root }}design-principles/">Design Principles</a>
    </li>
    <li>
      <a>Getting Started</a>
      <ol>
        <li>
          <a href="{{ article.root }}app-definition-statement/">App Definition Statement</a>
        </li>
      </ol>
    </li>
    <li>
      <a>Design Patterns</a>
      <ol>
        <li>
          <a href="{{ article.root }}navigation">Navigation</a>
        </li>
        <li>
          <a href="{{ article.root }}layout/">Layout</a>
        </li>
        <li>
          <a href="{{ article.root }}gesture/">Gesture &amp; Event Substitution</a>
        </li>
        <li>
          <a href="{{ article.root }}resources/">Resources</a>
        </li>
      </ol>
    </li>
    <li>
      <a>Building Blocks</a>
      <ol>
        <li>
          <a href="{{ article.root }}xtag-panel/">Panel</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-accordion/">Accordion</a>
        </li>
      </ol>
    </li>
    <li>
      <a href="{{ article.root }}case-study/">Case Study</a>
    </li>
  </ul>
</nav>
