<nav>
  <ul>
    <li>
      <a href="/design-principles">Design Principles</a>
    </li>
    <li>
      <a>Getting Started</a>
      <ol>
        <li>
          <a href="/app-definition-statement">App Definition Statement</a>
        </li>
      </ol>
    </li>
    <li>
      <a>Design Patterns</a>
      <ol>
        <li>
          <a href="/navigation">Navigation</a>
        </li>
      </ol>
    </li>
    <li>
      <a href="/building-blocks">Building Blocks</a>
    </li>
    <li>
      <a href="/case-study">Case Study</a>
    </li>
  </ul>
</nav>
