<nav>
  <ul>
    <li>
      <a href="{{ article.root }}design-principles/">Design Principles</a>
    </li>
    <li>
      <a>Getting Started</a>
      <ol>
        <li>
          <a href="{{ article.root }}app-definition-statement/">App Definition Statement</a>
        </li>
      </ol>
    </li>
    <li>
      <a>Design Patterns</a>
      <ol>
        <li>
          <a href="{{ article.root }}navigation">Navigation</a>
        </li>
        <li>
          <a href="{{ article.root }}layout/">Layout</a>
        </li>
        <li>
          <a href="{{ article.root }}gesture/">Gesture &amp; Event Substitution</a>
        </li>
        <li>
          <a href="{{ article.root }}resources/">Resources</a>
        </li>
      </ol>
    </li>
    <li>
      <a>Building Blocks</a>
      <ol>
        <li>
          <a href="{{ article.root }}xtag-list/">Plain List</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-gridlist/">Grid List</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-toastmessage/">Toast Message</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-alertpopup/">Alert Popup</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-selectlist/">Select List</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-search/">Search</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-slider/">Slider</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-toggleswitch/">Toggle Switch</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-timedate/">Time/Date Picker</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-dropdown/">Dropdown Menu</a>
        </li>
        <li>
          <a href="{{ article.root }}xtag-indexscroller/">Index Scroller</a>
        </li>
      </ol>
    </li>
    <li>
      <a href="{{ article.root }}case-study/">Case Study</a>
    </li>
  </ul>
</nav>
